---
import { SEO } from "astro-seo";
import "@fontsource/inter/variable.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/expand.min.css"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <script is:inline>
      if (localStorage.getItem("theme-github") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme-github")
        );
    </script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"
    ></script>

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title="Github User Search"
      description="This is a simple github user searcher using the github API."
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Github User Search`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Github User Search Screenshot",
        },
      }}
    />
  </head>
  <body>
    <slot />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
